@{
    ViewData["Title"] = "Insert";
}
@model EstateModel

    <section class="ftco-section bg-light justify-content-center align-items-center">
        <div class="container">
            <h2>Emlak Düzenle</h2>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form method="post" asp-action="Edit">
                        <div class="mb-3">
                            <label asp-for="Title" class="form-label">İlan Başlığı</label>
                            <input type="text" class="form-control" asp-for="Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="City" class="form-label">Şehir Adı</label>
                            <input type="text" class="form-control" asp-for="City">
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="District" class="form-label">İlçe Adı</label>
                            <input type="text" class="form-control" asp-for="District">
                            <span asp-validation-for="District" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Neighbourhood" class="form-label">Mahalle Adı</label>
                            <textarea rows="3" class="form-control" asp-for="Neighbourhood"></textarea>
                            <span asp-validation-for="Neighbourhood" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CategoryId" class="form-label">Kategori</label>
                            <select asp-for="CategoryId" class="form-control">
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.Id" selected="@((Model.CategoryId == category.Id).ToString().ToLower())">@category.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ResidentialType" class="form-label">Konut Tipi</label>
                            <textarea rows="3" class="form-control" asp-for="ResidentialType"></textarea>
                            <span asp-validation-for="ResidentialType" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Price" class="form-label">Fiyat</label>
                            <textarea rows="3" class="form-control" asp-for="Price"></textarea>
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SquareMeters" class="form-label">Metrekare Bilgisi</label>
                            <textarea rows="3" class="form-control" asp-for="SquareMeters"></textarea>
                            <span asp-validation-for="SquareMeters" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NumberOfRooms" class="form-label">Oda Sayısı</label>
                            <textarea rows="3" class="form-control" asp-for="NumberOfRooms"></textarea>
                            <span asp-validation-for="NumberOfRooms" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NumberOfBathrooms" class="form-label">Banyo Sayısı</label>
                            <textarea rows="3" class="form-control" asp-for="NumberOfBathrooms"></textarea>
                            <span asp-validation-for="NumberOfBathrooms" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="NumberOfBuildingFloors" class="form-label">Binanın Kat Sayısı</label>
                            <textarea rows="3" class="form-control" asp-for="NumberOfBuildingFloors"></textarea>
                            <span asp-validation-for="NumberOfBuildingFloors" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="FloorNumber" class="form-label">Kat Bilgisi</label>
                            <textarea rows="3" class="form-control" asp-for="FloorNumber"></textarea>
                            <span asp-validation-for="FloorNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="TitleDeedStatus" class="form-label">Tapu Bilgisi</label>
                            <textarea rows="3" class="form-control" asp-for="TitleDeedStatus"></textarea>
                            <span asp-validation-for="TitleDeedStatus" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="UsageStatus" class="form-label">Kullanım Durumu Bilgisi</label>
                            <textarea rows="3" class="form-control" asp-for="UsageStatus"></textarea>
                            <span asp-validation-for="UsageStatus" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="HeatingType" class="form-label">Isınma Tipi</label>
                            <textarea rows="3" class="form-control" asp-for="HeatingType"></textarea>
                            <span asp-validation-for="HeatingType" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="FurnitureStatus" class="form-label">Eşya Durumu</label>
                            <textarea rows="3" class="form-control" asp-for="FurnitureStatus"></textarea>
                            <span asp-validation-for="FurnitureStatus" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Aspect" class="form-label">Cephe Bilgisi</label>
                            <textarea rows="3" class="form-control" asp-for="Aspect"></textarea>
                            <span asp-validation-for="Aspect" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ConstructionYear" class="form-label">İnşa Yılı</label>
                            <textarea rows="3" class="form-control" asp-for="ConstructionYear"></textarea>
                            <span asp-validation-for="ConstructionYear" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ImageUrl" class="form-label">Fotoğraf URL'si</label>
                            <textarea rows="3" class="form-control" asp-for="@Model.ImageUrl.ImageUrl"></textarea>
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="VideoUrl" class="form-label">Video URL'si</label>
                            <textarea rows="3" class="form-control" asp-for="@Model.VideoUrl.VideoUrl"></textarea>
                            <span asp-validation-for="VideoUrl" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ListingOwner" class="form-label">İlan Sahibi</label>
                            <textarea rows="3" class="form-control" asp-for="ListingOwner"></textarea>
                            <span asp-validation-for="ListingOwner" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PhoneNumber" class="form-label">Telefon Numarası</label>
                            <textarea rows="3" class="form-control" asp-for="PhoneNumber"></textarea>
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="EmailAddress" class="form-label">E-Posta Adresi</label>
                            <textarea rows="3" class="form-control" asp-for="EmailAddress"></textarea>
                            <span asp-validation-for="EmailAddress" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="ListingDate" class="form-label">İlan Tarihi</label>
                            <textarea rows="3" class="form-control" asp-for="ListingDate"></textarea>
                            <span asp-validation-for="ListingDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="UpdateDate" class="form-label">İlan Güncelleme Tarihi</label>
                            <textarea rows="3" class="form-control" asp-for="UpdateDate"></textarea>
                            <span asp-validation-for="UpdateDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Keywords" class="form-label">İlgili Arama Sözcükleri</label>
                            <textarea rows="3" class="form-control" asp-for="Keywords"></textarea>
                            <span asp-validation-for="Keywords" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label asp-for="CreditEligibility" class="form-label">Krediye Uygunluk</label>
                            <input type="checkbox" class="form-check" asp-for="CreditEligibility"> Uygun
                        </div>
                        <div class="mb-3">
                            <label asp-for="PropertyLocation" class="form-label">Site Bilgisi</label>
                            <input type="checkbox" class="form-check" asp-for="PropertyLocation"> Site İçinde
                        </div>
                        <div class="mb-3">
                            <label asp-for="Status" class="form-label">Durumu</label>
                            <input type="checkbox" class="form-check" asp-for="Status"> Aktif
                        </div>
                        <div class="mb-3">
                            <label asp-for="HasGarden" class="form-label">Bahçe Bilgisi</label>
                            <input type="checkbox" class="form-check" asp-for="HasGarden"> Bahçeli
                        </div>
                        <div class="mb-3">
                            <label asp-for="HasElevator" class="form-label">Asansör Bilgisi</label>
                            <input type="checkbox" class="form-check" asp-for="HasElevator"> Asansör Var
                        </div>
                        <div class="mb-3">
                            <label asp-for="HasBalcony" class="form-label">Balkon Bilgisi</label>
                            <input type="checkbox" class="form-check" asp-for="HasBalcony"> Balkon Var
                        </div>
                        <div class="mb-3">
                            <label asp-for="HasParking" class="form-label">Otopark Bilgisi</label>
                            <input type="checkbox" class="form-check" asp-for="HasParking"> Otopark Var
                        </div>
                        <div class="mb-3">
                            <label asp-for="HasWifi" class="form-label">Kablosuz Ağ Bilgisi</label>
                            <input type="checkbox" class="form-check" asp-for="HasWifi"> Kablosuz Ağ Var
                        </div>


                        <div class="mb-3">
                            <input type="hidden" asp-for="Id" />
                            <a asp-action="Index" class="btn btn-outline-secondary">Geri Dön</a>
                            <input type="submit" value="Güncelle" class="btn btn-outline-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}

