﻿@{
    ViewData["Title"] = "Index";
}
@model List<EstateModel>
<h2>Emlaklar</h2>
<hr />

<a asp-action="Insert" class="btn btn-outline-primary">Ekle</a>

<form asp-action="Index" method="get">
    <div class="input-group w-50 mt-3">
        <input type="search" name="searchText" value="@ViewBag.SearchText" class="form-control " placeholder="Aranacak Değer Giriniz" />
        <div class="input-group-append">
            <input type="submit" value="Ara" class="btn btn-primary" />
        </div>

    </div>

</form>
<table class="table table-hover text-center align-middle">
    <thead>
        <tr>
            <th>SN</th>
            <th>İlan Başlığı</th>
            <th>Şehir Adı</th>
            <th>Konut Tipi</th>
            <th>Fiyat</th>
            <th>Brüt Metrekare</th>
            <th>Oda/Salon Sayısı</th>
            <th>İlan Tarihi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <th>@item.Title</th>
                <th>@item.City</th>
                <th>@item.ResidentialType</th>
                <th>@item.Price</th>
                <th>@item.SquareMeters</th>
                <th>@item.NumberOfRooms</th>
                <th>@item.ListingDate</th>
                <td>
                    <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-info">Detay</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Sil</a>
                </td>
            </tr>

        }

    </tbody>
</table>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.PageCount; i++)
    {
        if (i == ViewBag.Page)
        {
            <li class="page-item active"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@i" asp-route-size=@ViewBag.Size>@i</a></li>
        }
        else
        {
            <li class="page-item"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@i" asp-route-size=@ViewBag.Size>@i</a></li>
        }

    }



</ul>

<ul class="pagination">
    @for (int i = 5; i <= 25; i = i + 5)
    {
        if (i == ViewBag.Size)
        {
            <li class="page-item active"><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@ViewBag.page" asp-route-size="@i">@i</a></li>
        }
        else
        {
            <li class="page-item "><a class="page-link" asp-route-searchtext="@ViewBag.SearchText" asp-route-page="@ViewBag.page" asp-route-size="@i">@i</a></li>
        }
    }
</ul>